<body>
  <div class="show content-background">
    <section class="col-md-12 rola">
      <h1 class="sega-title center">SEGA MOTORS&trade;</h1>
      <h2 class="center">Cadastre seu carro e sua garagem e não veja mais nada!</h2>
      <img src="../../../../../../etc/img/sonic-in-car.jpg">
    </section>
    <section id="cadastro" class="col-md-4">
      <div class="container box2 col-sm-12">
        <div class="row">
          <div class="col-lg-8 mx-auto"></div>
        </div>
      </div>
    </section>
  </div>
</body>
