.center {
  text-align: center;
}

.navbar-brand {
  color: black;
}

ul.navbar-nav.mr-auto:first-child {
  float: right;
}

.right-menu {
  margin-left: 80vw;
}

.right-menu li {
  display: inline-block;
}

.menu-icon {
  background: url("../../img/logo-sega.jpeg") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.sega-allPages-footer {
  color: #555;
  background-color: #ddd;
  margin-top: 40px;
  padding: 40px 20px;
  text-align: center;
}

#imagens-links-parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.border-img {
  background-color:#00007f;
  padding: 20px;
  border-radius: 10px;
}

#imagens-links-parceiros a {
  margin: 2px 30px;
}

.container-img {
  padding: 10px;
}

#ftt {
  background: url("../../img/logo-ftt.png");
  background-size: contain;
  width: 100px;
  height: 100px;
  margin-top: 6px;
}

#computacao {
  background: url("../../img/logo-computacao.png") no-repeat;
  background-size: contain;
  width: 200px;
  height: 50px;
}

.copyright {
  border-top: 1px solid #444;
  padding-top: 30px;
}